:root {
    --green: #00FF00;
    --white: #fff;
    --black: #000000;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: 'Franklin Gothic Demi', sans-serif;
}

/*ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/

li {
    list-style: circle;
}

.list {
    list-style: square;
}

/*#msg {
    font-family: monospace;
}*/

.light-theme {
    --bg:var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor:var(--green);
}