body {
    background-color: slategray;
    margin-left: 20%;
    margin-top: 5%;
}

.inputBox {
    font-family: 'Franklin Gothic Medium', sans-serif;

}

.text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

p {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.displayBox {
    margin-top: 10%;
    height: 100px;
    width: 100px;
    /*background-color: white;*/
    background-color: white;
    text-align: center;
}